@model WebNotes.Models.AddUserViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Новый пользователь</h2>
@using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
{
    @Html.ValidationSummary()
    <table>
        <tr>
            <td> @Html.LabelFor(m => m.UserName)</td>
            <td> @Html.EditorFor(m => m.UserName) </td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(m => m.Password)</td>
            <td>  @Html.EditorFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(m => m.LastName)</td>
            <td>  @Html.EditorFor(m => m.LastName)</td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(m => m.FirstName)</td>
            <td>  @Html.EditorFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(m => m.SecondName)</td>
            <td>  @Html.EditorFor(m => m.SecondName)</td>
        </tr>
        <tr>
                <td>  @Html.LabelFor(m => m.Email)</td>
                <td>  @Html.EditorFor(m => m.Email)</td>
            </tr>
        <tr>
            <td> @Html.LabelFor(m => m.DateOfBith)</td>
            <td> @Html.EditorFor(m => m.DateOfBith) </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button style="width:100%">
                    Сохранить

                </button>
            </td>
    </table>

}
