@model WebNotes.Models.NotesListViewModel
@using WebLibrary
@using WebNotes.Extensions
@{
    ViewBag.Title = "ShowNotes";
}


<div style="padding: 20px;">
    @Html.Partial("Filter", new NoteFilter())
</div>

<h2>Заметки</h2>
<table border="1">
  @if(Model.Notes.Count != 0)
  {
    <tr>
        
       
        <th>
           
                @Html.SortLink("Название", "Name", "ShowNotes", "Note", new RouteValueDictionary { { "id", Model.Notes[0].Autor.Id } })
            
         
        <th>
           
                @Html.SortLink("Дата создания", "DateCreated", "ShowNotes", "Note", new RouteValueDictionary { { "id", Model.Notes[0].Autor.Id } })
            
         
        </th>
        
  
       
    </tr>
    }
  else
    { 
      <tr>
          <td>Заметок нет</td>
      </tr>
    }
    @foreach(var note in Model.Notes)
    {
        <tr>
            
            
            <td>@note.Name</td>
            <td>@note.DateCreated</td>
            <td>@Html.ActionLink("Посмотреть заметку", "TextNote", "Note", new { id = note.Id }, null)</td>
            <td>@Html.ActionLink("Открыть файл", "GetFile", "Note", new { id =note.Id }, null)</td>
        </tr>
        
    }
    
    
</table>
<div>
   @Html.ActionLink("Добавить новую заметку", "CreateNote", "Note")
    
</div>
<div>
    @Html.ActionLink("Вернуться назад", "Index","Home")
</div>
